<link href="/css/utils.css" rel="stylesheet" type="text/css" />

<body data-category="gif" data-domain="safeimagekit.com" data-site="safeimagekit" data-site_short="gif"
    data-txt_domain="www.safeimagekit.com" data-txt_ms="GIF" data-txt_site_name="Online GIF Tools" data-txt_ss="GIF"
    id="siteinfo">
    <div class="page-content">
        <div class="page container">
            <div class="content">
                <div class="all-tools-container">
                    <div class="section sides tool tool-primary" data-accepts="image" data-override-options=""
                        data-returns="image" data-tool-bridge="optimize-gif" data-tool-url="compress-gif">
                        <div class="body">
                            <div class="sides-wrapper">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="side input" data-theme=""><label><span class="data-type">gif</span>
                                                <span class="status"></span></label>
                                            <div class="side-box empty">
                                                <div class="side-wrapper immersive">
                                                    <div class="badge">
                                                        <div class="badge-icon"></div>
                                                        <div class="badge-body">
                                                            <div class="badge-title"></div>
                                                            <div class="badge-message"></div>
                                                        </div>
                                                    </div>
                                                    <div class="input-canvas-help">
                                                        <span>
                                                            <div class="help-normal text-center">
                                                                Choose File
                                                            </div>
                                                        </span>
                                                    </div>
                                                    <canvas class="preview"></canvas>
                                                    <canvas class="data"></canvas>
                                                </div>
                                                <div class="d-none side-widgets">
                                                    <div class="side-widgets-wrapper">
                                                        <div class="widget widget-load">Import from file
                                                            <input type="file" />
                                                        </div>
                                                        <div class="widget" data-toggle="toggle-save-as">Save as...
                                                        </div>
                                                    </div>
                                                    <div class="side-widgets-toggle">
                                                        <div class="toggle-wrapper">
                                                            <div class="widget-toggle toggle-save-as">
                                                                <div class="widget widget-save-as" data-hides-toggle="">
                                                                    Download
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="side output" data-theme="">
                                            <label>
                                                <span class="data-type">compressed gif</span>
                                                <span class="status"></span>
                                            </label>
                                            <div class="side-box">
                                                <div class="side-wrapper immersive">
                                                    <div class="tool-combinator">
                                                        <div class="combinator-list">
                                                            <div class="combinator-tools"></div>
                                                        </div>
                                                    </div>
                                                    <div class="badge">
                                                        <div class="badge-icon"></div>
                                                        <div class="badge-body">
                                                            <div class="badge-title">Can't convert.</div>
                                                            <div class="badge-message">An error has occured.</div>
                                                        </div>
                                                    </div>
                                                    <canvas class="preview"></canvas>
                                                    <canvas class="data"></canvas>
                                                </div>
                                                <div class="d-none side-widgets">
                                                    <div class="widget-toggle toggle-save-as">
                                                        <div class="widget" data-subscription="free">Download
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="sides-options-wrapper d-none">
                                <label class="caption">Gif compressor options</label>
                                <div class="converter-options" data-autosave="">
                                    <div class="option-group"><span class="option-group-legend">Compression
                                            Method</span>
                                        <div class="option-row" title="Option code: optimize-transparency"><input
                                                checked="" class="input-option" data-index="optimize-transparency"
                                                id="option-optimize-transparency-54058c7b"
                                                name="option-group-54058c7b-0" required="" type="checkbox" /><label
                                                for="option-optimize-transparency-54058c7b">Transparency
                                                Compression</label></div>
                                        <div class="option-row" title="Option code: transparency-threshold"><input
                                                class="input-option" data-index="transparency-threshold"
                                                id="option-transparency-threshold-54058c7b"
                                                name="option-group-54058c7b-0" placeholder="Match Percentage"
                                                required="" type="text" value="3%" /><label
                                                for="option-transparency-threshold-54058c7b">Match
                                                Percentage</label><span class="option-details">Pixel match
                                                percentage.</span></div>
                                        <div class="option-row" title="Option code: optimize-quantizer"><input
                                                checked="" class="input-option" data-index="optimize-quantizer"
                                                id="option-optimize-quantizer-54058c7b" name="option-group-54058c7b-0"
                                                required="" type="checkbox" /><label
                                                for="option-optimize-quantizer-54058c7b">Quantizer Compression</label>
                                        </div>
                                        <div class="option-row" title="Option code: quantizer-radius"><input
                                                class="input-option" data-index="quantizer-radius"
                                                id="option-quantizer-radius-54058c7b" name="option-group-54058c7b-0"
                                                placeholder="Quantizer Interval" required="" type="text"
                                                value="600" /><label for="option-quantizer-radius-54058c7b">Quantizer
                                                Interval</label><span class="option-details">Quantizer sampling
                                                interval.<br />(The effect of this compression<br />can't be seen in the
                                                player.<br />Download the GIF to see<br />the effect.)</span></div>
                                    </div>
                                    <div class="option-group"><span class="option-group-legend">Delete GIF Frames</span>
                                        <div class="option-row" title="Option code: do-not-skip-frames"><input
                                                checked="" class="input-option" data-index="do-not-skip-frames"
                                                id="option-do-not-skip-frames-54058c7b" name="option-group-54058c7b-1"
                                                required="" type="radio" /><label
                                                for="option-do-not-skip-frames-54058c7b">Do Not Delete Frames</label>
                                        </div>
                                        <div class="option-row" title="Option code: skip-every-nth"><input
                                                class="input-option" data-index="skip-every-nth"
                                                id="option-skip-every-nth-54058c7b" name="option-group-54058c7b-1"
                                                required="" type="radio" /><label
                                                for="option-skip-every-nth-54058c7b">Delete Every n-th Frame</label>
                                        </div>
                                        <div class="option-row is-compact compact-2" title="Option code: start-frame">
                                            <input class="input-option" data-index="start-frame"
                                                id="option-start-frame-54058c7b" name="option-group-54058c7b-1"
                                                placeholder="Start From" required="" type="text" value="2" /><label
                                                for="option-start-frame-54058c7b">Start From</label><span
                                                class="option-details">First frame to delete.</span>
                                        </div>
                                        <div class="option-row is-compact compact-2" title="Option code: nth-frame">
                                            <input class="input-option" data-index="nth-frame"
                                                id="option-nth-frame-54058c7b" name="option-group-54058c7b-1"
                                                placeholder="Delete n-th" required="" type="text" value="2" /><label
                                                for="option-nth-frame-54058c7b">Delete n-th</label><span
                                                class="option-details">Deletion period.</span>
                                        </div>
                                        <div class="option-row" title="Option code: skip-these-frames"><input
                                                class="input-option" data-index="skip-these-frames"
                                                id="option-skip-these-frames-54058c7b" name="option-group-54058c7b-1"
                                                required="" type="radio" /><label
                                                for="option-skip-these-frames-54058c7b">Delete Certain Frames</label>
                                        </div>
                                        <div class="option-row" title="Option code: frames-to-skip"><input
                                                class="input-option" data-index="frames-to-skip"
                                                id="option-frames-to-skip-54058c7b" name="option-group-54058c7b-1"
                                                placeholder="Frames to Drop" required="" type="text"
                                                value="1-5" /><label for="option-frames-to-skip-54058c7b">Frames to
                                                Drop</label><span class="option-details">Specify frames to
                                                delete.<br />For example, "4, 6, 7" or "2-9".</span></div>
                                    </div>
                                    <div class="option-group"><span class="option-group-legend">Compression
                                            Player</span>
                                        <div class="option-row" title="Option code: play"><input checked=""
                                                class="input-option" data-index="play" id="option-play-54058c7b"
                                                name="option-group-54058c7b-2" required="" type="checkbox" /><label
                                                for="option-play-54058c7b">Animate Compressed GIF</label><span
                                                class="option-details">Play all frames of the input<br />GIF and
                                                compressed GIF.</span></div>
                                        <div class="option-row is-comment"><label></label><span
                                                class="option-details">Input GIF.<br />{iframes}</span></div>
                                        <div class="option-row" title="Option code: "><label
                                                for="option--54058c7b"></label></div>
                                        <div class="option-row is-comment"><label></label><span
                                                class="option-details">Output GIF.<br />{oframes}</span></div>
                                        <div class="option-row" title="Option code: "><label
                                                for="option--54058c7b"></label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
    <script defer src="/main.js"></script>
    <script defer src="/tools.js"></script>
    <script defer src="/gif.js" data-type='{{page.type}}' data-size='{{page.size}}'></script>
</body>


<input class="d-none" type="file" id="file" accept=".gif" />